body {
  background-color: #eee;
}

header {
  background-color: #4c2474;
  color: #fff;
  padding: 0.1rem;
  font-size: 1rem;
}

.column-full > h1 {
  font-size: 1.8rem;
}

#title,
#url {
  font-size: 1rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  height: 2.3rem;
  border: 1px solid #ababab;
}

#notes {
  font-size: 1rem;
  width: 100%;
  height: 10rem;
  border-radius: 5px;
  margin-top: 1rem;
  border: 1.5px solid #ababab;
}

img {
  width: 100%;
  margin-bottom: 0.5rem;
}

#save {
  background-color: #4c2474;
  color: #fff;
  border-radius: 0.3rem;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 0.7rem;
}

form {
  font-size: 1.2rem;
}

#save:hover {
  box-shadow: 2px 2px 5px #66319c;
}

.column-button {
  display: flex;
  justify-content: right;
}

/* Entries Page */

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

li > img {
  width: 100%;
}

.row > a {
  padding-left: 2.2rem;
  padding-top: 1.5rem;
  cursor: pointer;
  font-size: 1.2rem;
}

#entries-tab {
  color: white;
  text-decoration: none;
}

#entries-tab:hover {
  text-decoration: underline;
}

.new {
  background-color: #4c2474;
  border: 1px solid#4c2474;
  border-radius: 0.2rem;
  padding: 0.3rem 0.5rem;
  color: #fff;
  font-size: 0.98rem;
  cursor: pointer;
  margin-top: 2rem;
  text-decoration: none;
}

.new:hover {
  box-shadow: 2px 2px 5px #66319c;
}

.column-new-entry {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.no-entry-text {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* Edit Entries */
i {
  padding-top: 1rem;
  cursor: pointer;
}

i:hover {
  color: red;
}

.pencil-column {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
