body {
  background-color: #eee;
}

header {
  background-color: #4c2474;
  color: #fff;
  padding: 0.1rem;
  font-size: 1rem;
}

.column-full > h1 {
  font-size: 1.8rem;
}

#title,
#url {
  font-size: 1rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  height: 2.3rem;
  border: 1px solid #ababab;
}

#notes {
  font-size: 1rem;
  width: 100%;
  height: 10rem;
  border-radius: 5px;
  margin-top: 1rem;
  border: 1.5px solid #ababab;
}

img {
  width: 100%;
  margin-bottom: 0.5rem;
}

#save {
  background-color: #4c2474;
  color: #fff;
  border-radius: 0.3rem;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 0.7rem;
}

form {
  font-size: 1.2rem;
}

#save:hover {
  box-shadow: 2px 2px 5px #66319c;
}

.column-button {
  display: flex;
  justify-content: right;
}
